.container{
    display: flex;
    font-weight: 300;
    font-style: oblique;
    justify-content: center;
    flex-shrink: initial;
    flex-wrap: wrap;

}
.card{
padding: 10px;
margin-top: 10px;

}
table,th,td{
    border: 2px black solid;
    background-color: rgb(251, 238, 223);
    box-shadow: 7px 0px rgba(25, 25, 25, 0.085);
}
h2{
  font-style: oblique; 
}